<div id="title_area">UnifiedPost</div>
<div id="description_area">Test project</div><br /><br />

<div id="text_area">Please complete the form below in order to register.</div><br />

<div id="msg_area"><%= @msg %></div><br />

<%= form_for @user do |f| %>
	<div class="user_form">
		<%= f.label( :first_name, "First name(*): " ) %>
		<%= text_field_tag :firstName %>
	</div>
	<div class="user_form">
		<%= f.label( :last_name, "Last name(*): " ) %>
		<%= text_field_tag :lastName %>
	</div>
	<div class="user_form">
		<%= label_tag( :eMail, "Email (*): " ) %>
		<%= text_field_tag( :eMail ) %>
	</div>
	<div class="user_form">
		<%= label_tag(:confirmEmail, "Confirm Email (*): " ) %>
		<%= text_field_tag( :confirmEmail ) %>
	</div>
	<div class="user_form">
		<%= f.label( :country, "Country(*): " ) %>
		<%= collection_select :country, :country_id, Country.all.order(:name), :id, :name, prompt: 'Select Country' %>
	</div>
	<div class="user_form">
		<%= f.label( :city, "City(*): " ) %>
		<%= grouped_collection_select :city, :city_id, Country.all.order(:name), :cities, :name, :id, :name %>
	</div>

	<br />
	<%= f.submit( "Register", :id => 'register' ) %>
<% end %>
<div id="form_notes">(*) mandatory fields</div>